# Comments (such as title, author, etc)
#
# The other lines have this format:
#  Menu, "Menu Item", ClassName

Plugins>Red Blood Cell velocity, "Red Blood Cell velocity", Red_Blood_Cell_velocity
Plugins>Red Blood Cell velocity, "Radon Transform", Red_Blood_Cell_velocity("radon_transform")
Plugins>Red Blood Cell velocity>Shortcuts, "RBCv SetROIs Add Vertex", Red_Blood_Cell_velocity("setrois_add_vertex")
Plugins>Red Blood Cell velocity>Shortcuts, "RBCv SetROIs Delete Vertex", Red_Blood_Cell_velocity("setrois_delete_vertex")
Plugins>Red Blood Cell velocity>Shortcuts, "RBCv SetROIs ToPolyline", Red_Blood_Cell_velocity("setrois_to_polyline")
Plugins>Red Blood Cell velocity>Shortcuts, "RBCv SetROIs Toggle Show All", Red_Blood_Cell_velocity("setrois_toggle_show_all")
Plugins>Red Blood Cell velocity>Shortcuts, "RBCv Verif Update Angle", Red_Blood_Cell_velocity("verif_update_angle")
Plugins>Red Blood Cell velocity>Shortcuts, "RBCv Verif Discard Angle", Red_Blood_Cell_velocity("verif_discard_angle")
Plugins>Red Blood Cell velocity>Shortcuts, "RBCv Verif Validate ROI", Red_Blood_Cell_velocity("verif_validate_roi")
Plugins>Red Blood Cell velocity>Shortcuts, "RBCv Verif Discard ROI", Red_Blood_Cell_velocity("verif_unvalidate_roi")
Plugins>Red Blood Cell velocity>Shortcuts, "RBCv SetGroup Capillaries", Red_Blood_Cell_velocity("setgroup_capillaries")
Plugins>Red Blood Cell velocity>Shortcuts, "RBCv SetGroup Arteries", Red_Blood_Cell_velocity("setgroup_arteries")
Plugins>Red Blood Cell velocity>Shortcuts, "RBCv SetGroup Veins", Red_Blood_Cell_velocity("setgroup_veins")
Plugins>Red Blood Cell velocity>Shortcuts, "RBCv SetGroup Discard", Red_Blood_Cell_velocity("setgroup_discard")
